# Build output
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
publish/
*.user

# Visual Studio / Rider
.vs/
.idea/
*.suo
*.userprefs

# NuGet
*.nupkg
packages/

# OS
Thumbs.db
.DS_Store
